.person {
  box-shadow: 5px 5px 5px   #9c9c9c;
  padding: 20px;
  border: 2px solid #838383;
  margin: 60px auto;
  background-color: #93c4ff;
  width: 50%;
  text-align: center;
  border-radius: 20px;
  cursor: pointer;
}
